$bg_color: #b479d926;
$green: #2ebb77;
$white: #fff;

.main_cont {
  background-color: $bg_color;
  width: 83%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 12px;

  h4 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 50px;
  }

  .inner_cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; /* Ensure full width within inner container */

    .list {
      display: flex;
      flex-direction: column;
      gap: 40px;

      p {
        font-weight: 600;
        color: inherit;
        margin-left: 20px;
      }

      .list_item {
        background-color: $green;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-weight: bold;
      }

      .first,
      .second,
      .third {
        display: flex;
        align-items: center;

        &.selected {
          .list_item {
            background-color: $green;
            color: $white;
            cursor: pointer;
          }
        }

        &:not(.selected) {
          .list_item {
            background-color: $white;
            color: $green;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.outer_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.custom_shirt_container {
  width: 90%;
  margin: 0px auto;

  .inner_custom_cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .top_part {
      display: flex;
      justify-content: space-between;

      button {
        padding: 10px 25px;
        border-radius: 12px;
        background-color: transparent;
        border: 2px solid #eeeeee;
        cursor: pointer;
        text-align: center;
      }
    }

    .outer_main {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;

      .main_part {
        margin-top: 7px;

        .img-container {
          position: relative;

          img {
            width: 100%;
            margin-bottom: 10px;
          }
        }

        &:last-child {
          .overlay {
            margin-bottom: 10px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 8px;

            .overlay-text {
              font-size: 24px;
              font-weight: bold;
            }
          }
        }

        p:nth-child(2) {
          width: auto;
          font-weight: 700;
        }

        p:nth-child(3) {
          font-size: 13px;
          margin-top: 5px;
        }
      }
    }
  }
}
