<div class="outer_cont">
  <div class="main_cont">
    <h4>How to design and order custom T-shirts</h4>
    <div class="inner_cont">
      <div class="list">
        <div
          class="first"
          [ngClass]="{ selected: selectedIndex === 0 }"
          (click)="selectItem(0)"
        >
          <div class="list_item">1</div>
          <p>Choose from 412 custom products in <br />our catalog</p>
        </div>
        <div
          class="second"
          [ngClass]="{ selected: selectedIndex === 1 }"
          (click)="selectItem(1)"
        >
          <div class="list_item">2</div>
          <p>
            Customize your design with graphics,<br />
            text or your own uploaded images.
          </p>
        </div>
        <div
          class="third"
          [ngClass]="{ selected: selectedIndex === 2 }"
          (click)="selectItem(2)"
        >
          <div class="list_item">3</div>
          <p>
            Get your order sent to your door with <br />
            free standard shipping.
          </p>
        </div>
      </div>
      <div class="laptop">
        <img src="/assets/images/laptop.png" alt="" srcset="" />
      </div>
    </div>
  </div>
</div>

<div class="custom_shirt_container">
  <div class="inner_custom_cont">
    <div class="top_part">
      <h4>Free design templates</h4>
      <button>View All →</button>
    </div>

    <div class="outer_main">
      <div class="main_part" *ngFor="let item of galleryItems; last as isLast">
        <div class="img-container" [class.overlay-container]="isLast">
          <img [src]="item.image" alt="" srcset="" />
          <div class="overlay" *ngIf="isLast">
            <span class="overlay-text">+28</span>
            <span>Collections</span>
          </div>
        </div>
        <ng-container *ngIf="!isLast">
          <p>{{ item.title }}</p>
          <p>{{ item.resources }}</p>
        </ng-container>
      </div>
    </div>
  </div>
</div>
