<div class="main_cont">
  <div class="pictures">
    <img src="/assets/images/culture1.png" alt="" />
    <img src="/assets/images/culture2.png" alt="" />
    <img src="/assets/images/culture3.png" alt="" />
    <img src="/assets/images/culture4.png" alt="" />
    <img src="/assets/images/culture5.png" alt="" />
  </div>
</div>

<div class="footer_cont">
  <div class="start_side">
    <h2>
      Design your next favorite <br />
      custom shirt
    </h2>
    <div class="socials">
      <img src="/assets/icons/twitter.svg" alt="twitter" />
      <img src="/assets/icons/facebook.svg" alt="facebook" />
      <img src="/assets/icons/instagram.svg" alt="instagram" />
      <img src="/assets/icons/utube.svg" alt="utube" />
    </div>
  </div>

  <div class="in_touch">
    <h3>Get in touch</h3>
    <p>hello&#64;teespace.io</p>
    <h3>+02 036 038 3996</h3>
    <p>
      3665 Paseo Place, Suite 0960 <br />
      San Diego
    </p>
  </div>

  <div class="list_info">
    <h3>Information</h3>
    <ul>
      <li>About Us</li>
      <li>Our Blog</li>
      <li>Start a Return</li>
      <li>Contact Us</li>
      <li>Shipping FAQs</li>
    </ul>
  </div>

  <div class="useful">
    <h3>Useful Links</h3>
    <ul>
      <li>My Account</li>
      <li>Shipping</li>
      <li>Contact & Support</li>
      <li>All Products</li>
    </ul>
  </div>
</div>

<div class="bottom_part">
  <div class="copyright">
    <p>© 2022 TeeSpace</p>
    <p>Terms & Conditions | Privacy Policy</p>
  </div>

  <div class="payments">
    <img src="/assets/images/paymentspng.png" alt="" srcset="">
  </div>
</div>
