$arrow-color: #2EBB77;

.main_cont {
    width: 90%;
    margin: 50px auto;
  
    .get_news {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h4 {
        font-size: 30px;
        text-align: center;
      }
  
      .input-wrapper {
        position: relative;
        width: 700px;
      }
  
      input {
        font-size: 15px;
        margin-top: 30px;
        width: 100%;
        padding: 5px;
        padding-left: 15px;
        padding-right: 30px; 
        height: 56px;
        outline: none;
        border: none;
        border-radius: 12px;
        box-shadow: 0 4px 50px 8px rgba(0, 0, 0, 0.1);
        transition: scale 0.3s ease;
      }

      input:focus {
        scale: 1.01;
      }
  
      .arrow {
        position: absolute;
        right: -20px;
        top: 63%;
        transform: translateY(-50%);
        font-size: 25px;
        color: #333;
        margin: 0;
        padding: 0;
        text-align: center;
        transition: color 0.3s ease;
        cursor: pointer;
        background-color: transparent;
        border: none;
        height: auto;
      }

      .arrow:hover {
        color: $arrow-color;
      }
    }
  }
  