<div class="mid_part">
  <div class="redirect">
    <div class="left_info">
      <p>
        Let's configure you own <br />
        print product
      </p>
      <p>The easiest way to get your print as you want</p>
      <button type="submit">Print Your Own</button>
    </div>
    <div class="pic_grid">
      <img src="/assets/images/pic1.png" alt="" />
      <img src="/assets/images/pic3.png" alt="" />
      <img src="/assets/images/pic2.png" alt="" />
      <img src="/assets/images/pic4.png" alt="" />
    </div>
  </div>
</div>
